.acvcy { 
  margin-bottom: 24px;
  margin-bottom: 73px;
  margin-left: 91px;
  padding-top: 20px;
  border-top-width: 59px;
  border-right-width: 24px;
  margin-left: 0px;
  padding-left: 33px;
  line-height: 52px;
  margin-right: 24px;
  margin-right: 9px;
}
